/* variables */
:root {
    --debug-code: #f9f3f6;
    --debug-code-bcg: #444445;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f4f7f6;
    line-height: 1.6;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1 {
    font-size: 2.5rem;
    color: #3498db;
    margin-bottom: 20px;
    font-weight: 300;
}

p {
    font-size: 1.125rem;
    margin-bottom: 20px;
    color: #555;
}

/* Button */
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    margin-top: 20px;
    font-size: 0.875rem;
    color: #777;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

.debug-info code {
    /* border: 1px, solid, var(--debug-code); */
    padding: 2px;
    color: var(--debug-code);
    background-color: var(--debug-code-bcg);
    border-radius: 2px;
    font-size: small;
    font-weight:700;
}
